.app {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

h1 {
  border:2px solid #1736ff ;
  color: #210dd3;
  border-radius: 10px;
  padding: 5px 20px;
}